{% extends 'base.html.twig'%}

{% block body %}
    <h1>Testa Uzdevums!</h1>
    <form method="post" name="form-get-user">
        <select name="tests">

            {% for test in tests %}
                <option value="{{ test.id }}">{{ test.name }}</option>
            {% endfor %}
        </select>
        <input type="text" placeholder="Ievadiet savu vārdu" name="name">
        <input type="hidden" value="start", name="testStage">
        <input type="submit" value="Sākt">
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('test-start.js') }}"></script>
{% endblock %}